html
{
    height: 100%;
}

body 
{
    min-height: 100%;
    margin: 0;
    padding: 0;
    /* background-color: black; */
    position: relative;
}

#assemblyUp
{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

#picContainer
{
    width: 30vw;
    height: 30vw;
    margin: 10vh;
    border: 5px #333 solid;
}

#videoFeed
{
    width: 30vw;
    height: 30vw;
    background-color: #666;
}

#filterContainer
{
    height: 70vh;
    width: 150px;
    border: 5px rgb(252, 94, 2) solid;
    background-color: rgb(218, 136, 106);
    border-radius: 10px;
}

#assemblyUp h5
{
    margin: 1vh;
    text-align: center;
}

#picResultZone
{
    width: 150px;
    height: 70vh;
    border: 5px rgb(173, 1, 1) solid;
    background-color: rgb(206, 94, 94);
    border-radius: 10px;
}

#picResults
{
    width: 120px;
    height: 60vh;
    margin-left: 25px;
    margin-top: 10px;
    overflow: auto;
}

.assemblyResultImage
{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.deleteImageButton
{
    float: right;
    position: relative;
}

#outputImage
{
    width: 30vw;
    height: 30vw;
    background-color: #666;
}

#webcamButton
{
    margin: 5px auto;
}

