*
{
    font-family: sans-serif;
}

body
{
    margin: 0px;
}

#website-title
{
    text-decoration: none;
    color: black;
}

header
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: gold;
    position: fixed;
    width: 100%;
}

.header-side
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-box
{
    background-color: goldenrod;
    width: 100px;
    text-align: center;
    margin: 0.3em;
    text-decoration: none;
    color: black;
}